@import url("https://fonts.googleapis.com/css2?family=Kings&family=Montserrat:wght@500&family=Poppins&family=Sail&display=swap");
html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: belgan;
  src: url("./belgan.otf");
}

.intro {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00524B;
  position: relative;
}
.intro-wave{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro p{
  color: rgb(233, 233, 231);
}
.sathya {
  font-size: 150px !important;
  font-weight: lighter !important;
  color: rgb(243, 223, 45);
  font-family: belgan !important;
}

.get-started{
  background-color: rgb(160, 45, 45);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border: none;
}
.hire-me{
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  border: none;
  border: 2px solid black;
}
