.projects-lottie {
  height: 500px;
  width: 500px;
}
.project {
  border-radius: 80%;
  padding: 50px;
  box-shadow: 0 0 3px rgba(46, 45, 45, 0.856);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 30px;
}

.project:hover {
  border-radius: 0;
}

.project .overlay {
  border-radius: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  opacity: 0;
  background-color: black;
  color: white;
  flex-direction: column;
}

.project .overlay:hover {
  opacity: 0.85;
  border-radius: 0;
  transition: all 0.3s;
}

.projects img {
  height: 250px;
  width: 250px;
}
.project .demo {
  background-color: rgb(255, 255, 255);
  padding: 10px 40px;
  color: rgb(0, 0, 0);
  border: none;
  border: 2px solid black;
}
